<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button content="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mon Espace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saisie d'information pour patient <ion-icon name="fitness-outline"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label><b>Email du patient</b></ion-label>
      <ion-input [(ngModel)]="mail" required="true" type="email" placeholder="patient@exemple.com">
      </ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label><b>La saisie est un :</b></ion-label>
    </ion-item>

    <ion-radio-group [(ngModel)]="fill">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="success">Vaccin <ion-icon name="shield-checkmark-outline"></ion-icon></ion-label>
            <ion-radio slot="start" [value]="'Vaccin'" color="success"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label color="warning">Test <ion-icon name="thermometer-outline"></ion-icon></ion-label>
            <ion-radio slot="start" [value]="'Test'" color="warning"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <!--Partie Vaccin-->
    <ion-card-content *ngIf="fill==='Vaccin'">

      <ion-item>
        <ion-label><b>Date</b></ion-label>
        <ion-input [value]="date" readonly="true" id="open-date-input-2"></ion-input>
        <ion-popover trigger="open-date-input-2" show-backdrop="false">
          <ng-template>
            <ion-datetime
              presentation="date"
              [(ngModel)]="vaccineData.date"
              (ionChange)="myFormatDate(vaccineData.date)"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label><b>Laboratoire</b></ion-label>
        <ion-icon name="flask-outline"></ion-icon>
      </ion-item>

      <ion-radio-group [(ngModel)]="vaccineData.lab">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="success">Pfizer</ion-label>
              <ion-radio slot="start" [value]="'Pfizer'" color="sucess"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="warning">Moderna</ion-label>
              <ion-radio slot="start" [value]="'Moderna'" color="warning"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="danger">Astrazeneca</ion-label>
              <ion-radio slot="start" [value]="'Astrazeneca'" color="danger"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary">Johnson & Johnson</ion-label>
              <ion-radio slot="start" [value]="'Johnson & Johnson'" color="tertiary"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <div class="ion-padding">
        <ion-button (click)="uploadVaccineData()" expand="block" color="success">Valider <ion-icon name="paper-plane-outline"></ion-icon></ion-button>
      </div>

    </ion-card-content>

    <!--Partie Test-->
    <ion-card-content *ngIf="fill==='Test'">

      <ion-item>
        <ion-label><b>Date</b></ion-label>
        <ion-input [value]="date" readonly="true"  id="open-date-input-1"></ion-input>
        <ion-popover trigger="open-date-input-1" show-backdrop="false">
          <ng-template>
            <ion-datetime
              presentation="date"
              [(ngModel)]="testData.date"
              (ionChange)="myFormatDate(testData.date)"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label><b>Type</b></ion-label><ion-icon name="settings-outline"></ion-icon>
      </ion-item>

      <ion-radio-group [(ngModel)]="testData.type">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary">PCR</ion-label>
              <ion-radio slot="start" [value]="'PCR'" color="tertiary"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary">Antigénique</ion-label>
              <ion-radio slot="start" [value]="'Antigénique'" color="tertiary"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-item>
        <ion-label><b>Résultat</b></ion-label><ion-icon name="reader-outline"></ion-icon>
      </ion-item>

      <ion-radio-group [(ngModel)]="testData.result">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="danger">Positif <ion-icon name="close-outline"></ion-icon></ion-label>
              <ion-radio slot="start" [value]="'Positif'" color="danger"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="success">Négatif <ion-icon name="checkmark-outline"></ion-icon></ion-label>
              <ion-radio slot="start" [value]="'Négatif'" color="success"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-card-content *ngIf="testData.result==='Positif'">
        <ion-item>
          <ion-label><b>Variant</b></ion-label><ion-icon name="shuffle-outline"></ion-icon>
        </ion-item>

        <ion-radio-group [(ngModel)]="testData.variant">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="warning">Omicron</ion-label>
                <ion-radio slot="start" [value]="'Omicron'" color="warning"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label color="danger">Delta</ion-label>
                <ion-radio slot="start" [value]="'Delta'" color="danger"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label color="dark">Classique</ion-label>
                <ion-radio slot="start" [value]="'Classique'" color="dark"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-card-content>

      <div class="ion-padding">
        <ion-button (click)="uploadTestData()" expand="block" color="success">Valider <ion-icon name="paper-plane-outline"></ion-icon></ion-button>
      </div>

    </ion-card-content>

  </ion-card>
</ion-content>
