<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Connexion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Email</b></ion-label>
        <ion-input [(ngModel)]="loginData.email" required="true" type="email" placeholder="Entrez votre email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Mot de passe</b></ion-label>
        <ion-input [(ngModel)]="loginData.password" required="true" type="password" placeholder="Entrez votre mot de passe"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="makeConnection()" expand="block" color="primary">Connexion</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
