<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button content="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mon Espace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-card-header>
    <ion-card-title>
      Déclarer des cas contacts
    </ion-card-title>
  </ion-card-header>


  <ion-row *ngFor="let contact of contactTab; let ind = index; trackBy: inputNgFor">
    <ion-col>
      <ion-item>
        <ion-label><b>Mail du cas</b></ion-label>
        <ion-input [(ngModel)]="contactTab[ind]" required="true" type="email" placeholder="Entre l'adresse mail du cas">
        </ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-fab horizontal="center"><ion-fab-button (click)="addContact()" color="primary"><ion-icon name="add-outline"></ion-icon></ion-fab-button></ion-fab>
    </ion-col>
    <ion-col>
      <ion-fab horizontal="center"><ion-fab-button (click)="declareContact()" color="success"><ion-icon name="paper-plane-outline"></ion-icon></ion-fab-button></ion-fab>
    </ion-col>
  </ion-row>


</ion-content>
