<ion-app>
  <ion-menu side="start" contentId="menu" menuId="menu" swipeGesture="false">
    <ion-header>
      <ion-toolbar color="tertiary">
        <!--(Back)-->
        <ng-template [ngIf]="user.getUserData() !== undefined">
          <ion-title *ngIf="user.getUserData().category === 1">
            <ion-icon name="person-outline"></ion-icon>
            {{user.getUserData().name}} {{user.getUserData().surname}} - Santé
          </ion-title>
          <ion-title *ngIf="user.getUserData().category === 0">
            <ion-icon name="person-outline"></ion-icon>
            {{user.getUserData().name}} {{user.getUserData().surname}} - Citoyen
          </ion-title>
        </ng-template>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button expand="block" color="primary" [routerLink]="'/'">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-button>
        <ng-template [ngIf]="user.getUserData() !== undefined">
          <ion-button expand="block" color="success" [routerLink]="'/pass'" *ngIf="user.getUserData().category===0">
            <ion-icon name="qr-code-outline"></ion-icon>
            <ion-label>Mon Pass</ion-label>
          </ion-button>
          <ion-button expand="block" color="warning" [routerLink]="'/citizen-tab/citizen-result-page'"
                      *ngIf="user.getUserData().category===0">
            <ion-icon name="body-outline"></ion-icon>
            <ion-label>Mon Espace</ion-label>
          </ion-button>
          <ion-button expand="block" color="success" [routerLink]="'/doctor-tab/doctor-fill'"
                      *ngIf="user.getUserData().category===1">
            <ion-icon name="medkit-outline"></ion-icon>
            <ion-label>Mon Espace</ion-label>
          </ion-button>
          <ion-button expand="block" color="medium" [routerLink]="'/account'">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Mon Compte</ion-label>
          </ion-button>
          <ion-button expand="block" color="danger" (click)="disconnectUser()">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Déconnexion</ion-label>
          </ion-button>
        </ng-template>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
