<ion-app>
  <ion-menu side="start" contentId="menu" menuId="menu" swipeGesture="false">
    <ion-header>
      <ion-toolbar color="tertiary">
        <!--(Back)-->
        <ion-title>Name</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button expand="block" color="primary" href="/">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-button>
        <ion-button expand="block" color="success" href="/pass">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Mon Pass</ion-label>
        </ion-button>
        <ion-button expand="block" color="medium" href="/account">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>Mon Compte</ion-label>
        </ion-button>
        <ion-button expand="block" color="danger" (click)="disconnectUser()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Déconnexion</ion-label>
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
