<ion-header translucent>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Version 1.54327091</h2>
      </ion-label>
    </ion-item>
  <ion-img src="./assets/icon/logo.png"></ion-img>
  <ion-item>
    <ion-label>
      <p>Copyright &copy; 2022 Tous droits réservés à TPLC.</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>