<ion-header translucent>
  <ion-toolbar>
    <ion-title><ion-icon name="link-outline"></ion-icon> Liens Utiles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2><ion-icon name="shield-half-outline"></ion-icon> <b><a href="https://www.gouvernement.fr/info-coronavirus"> Site du gouvernement</a></b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><ion-icon name="pulse-outline"></ion-icon> <b><a href="https://www.ameli.fr/assure"> Assurance Ameli</a></b></h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2><ion-icon name="medkit-outline"></ion-icon><b><a href="https://www.doctolib.fr"> Doctolib</a></b></h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
