<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button content="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div vertical="top" horizontal="center" class="stat">

    <ion-row>
      <ion-col>
        <ion-card>
          <!--Date-->
          <ion-item color="primary" lines="none">
            <ion-icon name="calendar-number-outline"></ion-icon>
            <ion-card-title id="stats" color="dark" slot="end">
              <b>Date de suivi : {{stat.date}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="primary" lines="none">
            <ion-card-subtitle color="dark"> Date à laquelle les statistiques sont mises à jour</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Décés-->
        <ion-card>
          <ion-item color="danger" lines="none">
            <ion-icon name="skull-outline"></ion-icon>
            <ion-card-title id="stats" color="dark" slot="end">
              <b>Décès totaux : {{stat.dc_tot}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="danger" lines="none">
            <ion-card-subtitle color="dark"> Cumul des décès constatés à l'hôpital et en EMS</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Patients hospitalisés-->
        <ion-card>
          <ion-item color="warning" lines="none">
            <ion-icon name="heart-dislike-outline"></ion-icon>
            <ion-card-title id="stats" color="light" slot="end">
              <b>Hospitalisations : {{stat.hosp}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="warning" lines="none">
            <ion-card-subtitle color="light"> Nombre de patients actuellement hospitalisés pour la COVID-19</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Patients rentrés-->

        <ion-card>
          <ion-item color="success" lines="none">
            <ion-icon name="home-outline"></ion-icon>
            <ion-card-title id="stats" color="light" slot="end">
              <b>Retours en 24h : {{stat.incid_rad}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="success" lines="none">
            <ion-card-subtitle color="light"> Nombre de retours à domicile au cours des dernières 24h</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Décès en hôpital-->
        <ion-card>
          <ion-item color="danger" lines="none">
            <ion-icon name="skull-outline"></ion-icon>
            <ion-card-title id="stats" color="dark" slot="end">
              <b>Décès en hôpital : {{stat.dchosp}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="danger" lines="none">
            <ion-card-subtitle color="dark"> Nombre de patient actuellement décédés de la COVID-19 en hôpital</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Cas en ESMS-->
        <ion-card>
          <ion-item color="warning" lines="none">
            <ion-icon name="medkit-outline"></ion-icon>
            <ion-card-title id="stats" color="light" slot="end">
              <b>Cas totaux en ESMS : {{stat.esms_cas}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="warning" lines="none">
            <ion-card-subtitle color="light"> Cas confirmés pour la période en ESMS (les établissements et services médico-sociaux)</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Retours totaux-->

        <ion-card>
          <ion-item color="success" lines="none">
            <ion-icon name="home-outline"></ion-icon>
            <ion-card-title id="stats" color="light" slot="end">
              <b>Retours totaux : {{stat.rad}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="success" lines="none">
            <ion-card-subtitle color="light">
              Nombre cumulé de patients ayant été hospitalisés pour la COVID-19 et de retour à
              domicile en raison de l'amélioration de leur état de santé
            </ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Décés en ESMS-->
        <ion-card>
          <ion-item color="danger" lines="none">
            <ion-icon name="skull-outline"></ion-icon>
            <ion-card-title id="stats" color="dark" slot="end">
              <b>Décès en ESMS : {{stat.esms_dc}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="danger" lines="none">
            <ion-card-subtitle color="dark"> Décès confirmés en ESMS (les établissements et services médico-sociaux)</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Décès 24h en hôpital-->

        <ion-card>
          <ion-item color="danger" lines="none">
            <ion-icon name="skull-outline"></ion-icon>
            <ion-card-title id="stats" color="dark" slot="end">
              <b>Décès en 24h en hôpital : {{stat.incid_dchosp}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="danger" lines="none">
            <ion-card-subtitle color="dark"> Nombre de nouveaux patients décédés à l'hôpital au cours des dernières 24h</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Patients actuellement en réanimation ou en soins intensifs-->

        <ion-card>
          <ion-item color="warning" lines="none">
            <ion-icon name="fitness-outline"></ion-icon>
            <ion-card-title id="stats" color="light" slot="end">
              <b>Patients totaux en 24h : {{stat.rea}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="warning" lines="none">
            <ion-card-subtitle color="light">
              Nombre total de patients hospitalisés, en réanimation et en soins intensifs en 24h.
            </ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
