<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- à supprimer -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Test boutons display
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="medium" expand="block" (click)="display.display('Bonjour, je suis un toast !')">
              <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
              Toast erreur
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="medium" expand="block" (click)="display.display({code: 'Bonjour, je suis un toast content !', color: 'success'})">
              <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
              Toast content
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="medium" expand="block" (click)="display.alert('Information', 'Bonjour, je suis une info utile')">
              <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
              Alert
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="medium" expand="block" (click)="clickActionSheet()">
              <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
              Action Sheet
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content #ionCardContent></ion-card-content>

    <ion-card-content *ngIf="result !== undefined"> Résultat {{result}}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Test ngFor
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let info of tab">
            {{info.infos}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
