<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button content="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div vertical="top" horizontal="center" class="stat">

    <ion-row>
      <ion-col>
        <ion-card>
          <!--Date-->
          <ion-item lines="none">
            <ion-icon name="calendar-number-outline" color="primary"></ion-icon>
            <ion-card-title id="stats" color="primary" slot="end">
              <b>Date de suivi : {{stat.date}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle color="primary"> Date à laquelle les statistiques sont mises à jour</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Décès 24h en hôpital-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="skull-outline" color="danger"></ion-icon>
            <ion-card-title id="stats" color="danger" slot="end">
              <b>Décès en 24h en hôpital : {{stat.incid_dchosp}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="" lines="none">
            <ion-card-subtitle color="danger"> Nombre de nouveaux patients décédés à l'hôpital au cours des dernières 24h</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Patients rentrés-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="home-outline" color="success"></ion-icon>
            <ion-card-title id="stats" color="success" slot="end">
              <b>Retours en 24h : {{stat.incid_rad}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle color="success"> Nombre de retours à domicile au cours des dernières 24h</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Patients hospitalisés-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="pulse-outline" color="warning"></ion-icon>
            <ion-card-title id="stats" color="warning" slot="end">
              <b>Hospitalisations 24h : {{stat.hosp}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle color="warning"> Nombre de patients actuellement hospitalisés pour la COVID-19</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Patients actuellement en réanimation ou en soins intensifs-->

        <ion-card>
          <ion-item  lines="none">
            <ion-icon name="fitness-outline" color="warning"></ion-icon>
            <ion-card-title id="stats" color="warning" slot="end">
              <b>Soins Intensifs en 24h : {{stat.rea}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle color="warning">
              Nombre total de patients hospitalisés, en réanimation et en soins intensifs en 24h.
            </ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Décès en hôpital-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="skull-outline" color="danger"></ion-icon>
            <ion-card-title id="stats" color="danger" slot="end">
              <b>Décès totaux en hôpital : {{stat.dchosp}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle color="danger"> Nombre de patient actuellement décédés de la COVID-19 en hôpital</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Décés en ESMS-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="skull-outline" color="danger"></ion-icon>
            <ion-card-title id="stats" color="danger" slot="end">
              <b>Décès en ESMS : {{stat.esms_dc}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="" lines="none">
            <ion-card-subtitle color="danger"> Décès confirmés en ESMS (les établissements et services médico-sociaux)</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Cas en ESMS-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="medkit-outline" color="warning"></ion-icon>
            <ion-card-title id="stats" color="warning" slot="end">
              <b>Cas totaux en ESMS : {{stat.esms_cas}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="" lines="none">
            <ion-card-subtitle color="warning"> Cas confirmés pour la période en ESMS (les établissements et services médico-sociaux)</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!--Retours totaux-->

        <ion-card>
          <ion-item lines="none">
            <ion-icon name="home-outline" color="success"></ion-icon>
            <ion-card-title id="stats" color="success" slot="end">
              <b>Retours totaux : {{stat.rad}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item color="" lines="none">
            <ion-card-subtitle color="success">
              Nombre cumulé de patients ayant été hospitalisés pour la COVID-19 et de retour à
              domicile en raison de l'amélioration de leur état de santé
            </ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--Décés-->
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="skull-outline" color="danger"></ion-icon>
            <ion-card-title id="stats" color="danger" slot="end">
              <b>Décès totaux : {{stat.dc_tot}}</b>
            </ion-card-title>
          </ion-item>
          <ion-item lines="none">
            <ion-card-subtitle color="danger"> Cumul des décès constatés à l'hôpital et en EMS</ion-card-subtitle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
