<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button content="main"></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="settings-outline"></ion-icon> Mon Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
<!--        <ion-avatar class="ion-margin-start" (click)="accessGallery()">-->
        <ion-avatar class="ion-margin-start">
          <img [src]="urlImage" alt="Profil picture"/>
        </ion-avatar>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Nom : {{user.userData.surname}}, Prénom : {{user.userData.name}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="sync-outline"></ion-icon> Changer votre mot de passe</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Mot de passe actuel</b></ion-label>
        <ion-input [(ngModel)]="oldPassword" type="password" placeholder="Ancien mot de passe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><b>Nouveau mot de passe</b></ion-label>
        <ion-input #inputMdp [(ngModel)]="newPassword" type="password" placeholder="Nouveau mot de passe"></ion-input>
        <ion-icon #iconMdp (click)="toggleMdp(iconMdp, inputMdp)" name="eye-off-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label><b>Confirmez votre nouveau mot de passe</b></ion-label>
        <ion-input [(ngModel)]="confirmNewPassword" type="password" placeholder="Confirmez nouveau mot de passe"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="confirmPswdChange()" expand="block" color="primary">Confirmer  <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Suppression de vos tests <ion-icon name="trash-bin-outline"></ion-icon></ion-card-title>
      <ion-card-subtitle>Ceci supprimera tous les tests qui vous sont associés</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Mot de passe</b></ion-label>
        <ion-input [(ngModel)]="passwordData" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="supprData()" expand="block" color="danger">Supprimer vos tests <ion-icon name="close-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Suppression de votre compte <ion-icon name="trash-bin-outline"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Mot de passe</b></ion-label>
        <ion-input [(ngModel)]="passwordUser" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="confirmAccSuppr()" expand="block" color="danger">Supprimer votre compte <ion-icon name="close-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
