<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>S'enregistrer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Enregistrement</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label><b>Nom</b></ion-label>
        <ion-input [(ngModel)]="registerData.name" required="true" type="name" placeholder="Entrez votre nom">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Prénom</b></ion-label>
        <ion-input [(ngModel)]="registerData.surname" required="true" type="surname" placeholder="Entrez votre prénom">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Date de Naissance</b></ion-label>
        <ion-input [value]="date"></ion-input>
        <ion-button fill="clear" id="open-date-input-2">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-2" show-backdrop="false">
          <ng-template>
            <ion-datetime
              presentation="date"
              [(ngModel)]="registerData.birthday"
              (ionChange)="myFormatDate()"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-radio-group [(ngModel)]="isADoctor">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Citoyen</ion-label>
              <ion-radio slot="start" [value]="false" id="radioBoxCitoyen"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Médecin</ion-label>
              <ion-radio slot="start" [value]="true" color="success" id="radioBoxMedic"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-item *ngIf="isADoctor">
        <ion-label><b>Identifiant Médecin</b></ion-label>
        <ion-input [(ngModel)]="registerData.medId" required="true" type="id" placeholder="Entrez votre identifiant">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label *ngIf="!isADoctor"><b>Email</b></ion-label>
        <ion-label *ngIf="isADoctor"><b>Email professionnel</b></ion-label>
        <ion-input [(ngModel)]="registerData.mail" required="true" type="email" placeholder="Entrez votre email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Mot de passe</b></ion-label>
        <ion-input #inputMdp [(ngModel)]="registerData.psw" required="true" type="password" placeholder="Entrez votre mot de passe"></ion-input>
        <ion-icon #iconMdp (click)="toggleMdp(iconMdp, inputMdp)" name="eye-off-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label><b>Confirmer mot de passe</b></ion-label>
        <ion-input [(ngModel)]="registerData.confirmPassword" required="true" type="password"
          placeholder="Confirmez votre mot de passe"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="checkCivilite()" expand="block" color="primary">S'enregistrer</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
