<ion-header>
  <ion-toolbar>
    <ion-title>Scan réussi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{response.user.name}} {{response.user.surname}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Date de naissance : {{this.dDN}}
  </ion-card-content>
  <ion-card-content>
    <ion-card-title *ngIf="response.hasPass" style="text-align: center; background-color: green">
      Pass valide
    </ion-card-title>
    <ion-card-title *ngIf="!response.hasPass" style="text-align: center; background-color: red">
      Pass non valide
    </ion-card-title>
  </ion-card-content>
</ion-card>
</ion-content>
